.boutton {
    background: linear-gradient(to right, #fb0303, #4f1212);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 100%;
    transition-duration: 0.4s;
}